* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
html {

	scroll-behavior: smooth;
}
body{
	background:  rgb(37, 37, 37);
}
a {
	text-decoration: none;
}
/* #region hero */
h1.section-title {
		font-size: 14px;
	}

	#hero {
	
		background-size:cover;
		background-position: center;
		position: relative;
		z-index: 1;
		background-size: cover;
		background-position: bottom;
	}

	#hero::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: .7;
		z-index: -1;
	}
	#hero .hero {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 50px;
		justify-content: flex-start;	
	}
	#hero h1 {
		display: block;
		width: fit-content;
		font-size: 4rem;
		position: relative;
		color: transparent;
		animation: text_reveal .5s ease forwards;
		animation-delay: 1s;
	}
	@media only screen and (max-width: 500px) {
		#hero h1 {
			font-size:5rem;
		}
		.brand h1 {
			font-size: 4rem;
			text-transform: uppercase;
			color: white;
		}
		.brand h1 span {
			color: crimson;
			font-size:4rem;
		}

		
	}
	#hero h1:nth-child(1) {
		animation-delay: 1s;
	}
	#hero h1:nth-child(2) {
		animation-delay: 2s;
	}
	#hero h1:nth-child(3) {
		animation: text_reveal_name .5s ease forwards;
		animation-delay: 3s;
	}
	#hero h1 span {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		animation: text_reveal_box 1s ease;
		animation-delay: .5s;
		box-shadow: 7px 10px 10px crimson;
	}
	#hero h1:nth-child(1) span {
		animation-delay: .5s;
	}
	#hero h1:nth-child(2) span {
		animation-delay: 3.5s;
	}
	#hero h1:nth-child(3) span {
		animation-delay: 2.5s;
	}
	
	/* End Hero Section */
	
/* #endregion */

img {
	height: 100%;
	width: 100%;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
/* #region home */
.section-title {
	font-size: 5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
	
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 80px;
	width: 80px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
    }
}
/* #endregion */


/* #region Extra */
.serv{
	display: inline-block;
	width:420px;
	height:460px;
	border:3px solid crimson;
	background:transparent;
	margin-left:30px;
	margin-top:24px;
	transition: 0.5s;
}

.serv img{
	width:415px;
	height:400px;
	margin-top:20px;
	margin-left:20px;
	box-shadow: -7px -10px 10px crimson;
}
.serv p{
	text-align: center;
	margin-top:-10;
	color:crimson;
	font-size:26px;
	opacity:0;
	transition: 1s;
}
.serv:hover{
	height:520px;

}	
.serv:hover p{
opacity:1;
}
.serv h1{
	color:crimson;
	font-family:'Times New Roman', Times, serif;
	text-align: center;
	font-size:25px;
}

@media only screen and (max-width: 500px) {
	.serv {
		width:80%;
	}
	.serv img{
		width:80%;
	}
	
}
.vdd{
	border:7px solid rgb(47, 113, 255);
	border-top-left-radius: 50px;
	width:300px;
	height:250px;
	display:inline-block;
	margin-top:20px;
	margin-left:10%;
}

.vdd video{

	display:inline-block;
	margin-left:20px;
	margin-top:25px;
	box-shadow: -7px -10px 10px rgb(47, 113, 255);;
}

.abt{
	width: 80%;
	height:500px;

	box-shadow: 7px 10px 10px crimson;
	margin-top:50px;
	align-content: center;
	justify-content: center;
	margin-left:10%;
	
}

.extra img{
	width:130px;
	height:130px;
	border-radius:100px;
	position:absolute;
	z-index:1;
	margin-top:20px;
	margin-left:350px;
}
@media only screen and (max-width:600px) {
	.extra img{
		margin-left:30%;
	}
}



.con{
	width:80%;
	height:300px;
	background:rgb(70, 69, 69);
	margin-left:10%;
	margin-top:40px;
	display:inline-block;
	box-shadow: 7px 10px 10px crimson;
}

.con img{
	width:65px;
	height:65px;
	border-radius:50%;
	margin-left:47%;
	box-shadow: 4px 7 px 10px crimson;
}

@media screen and (max-width:600px){

	.con{
		width:80%;
		margin-left:10%;
	}
}


@media screen and(max-width:500px){
	.vdd{
		margin-left:0;
	}
	.vdd video{
		margin-left:10px;
	}
}
/* #endregion */

/* #region Clouuds */
.banner{
	position:relative;
	width: 100%;
	height:80vh;
	background:url(iv2.jpg);
	background-size:cover;
	background-position:bottom;
}
.banner .clouds{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.banner .clouds img{
	position:absolute;
	bottom:0;
	max-width: 100%;
	animation: animate calc(8s * var(--i)) linear infinite;
	max-height:50%;
}
@media screen and(max-width:600px){
	.banner .clouds img{
		animation: animate calc(3s * var(--i)) linear infinite;
	}
}
@keyframes animate{
	0%{
		transform:translateX(-100%);
	}
	100%{
		transform:translateX(100%);
	}
}

/* #endregion */


/* #region Footer */

.ft{
	width:100%;
	height:50px;
	color:white;
	background:rgb(70, 69, 69);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	text-align:center;
	font-size:20px;
	box-shadow: -4px -7px 10px crimson;
	padding:10px;
}

/* #endregion */



/* #region Share Button */

.share-button{
	width: 280px;
	height: 80px;
	background: #dfe6e9;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: .3s linear;
	box-shadow: -7px -7px 10px crimson;
	margin-top:50px;
	margin-bottom:50px;
  }
  
  .share-button:hover{
	transform: scale(1.1);
  }
  
  .share-button span{

	position: absolute;
	width: 100%;
	height: 100%;
	background: #2d3436;
	color: #f1f1f1;
	text-align: center;
	line-height: 80px;
	z-index: 999;
	transition: .6s linear;
	border-radius: 40px;
  }
  
  .share-button:hover span{
	transform: translateX(-100%);
	transition-delay: .3s;
  }
  
  .share-button a{
	flex: 1;
	font-size: 26px;
	color: #2d3436;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.3s linear;
  }
  
  
  .share-button:hover a{
	opacity: 1;
	transform: translateX(0);
  }
  
  .share-button a:nth-of-type(1){
	transition-delay: 1s;
  }
  
  .share-button a:nth-of-type(2){
	transition-delay: 0.8s;
  }
  
  .share-button a:nth-of-type(3){
	transition-delay: 0.6s;
  }
  
  .share-button a:nth-of-type(4){
	transition-delay: 0.4s;
  }
  

/* #endregion */
